body
{
	border: 1px gray;
	font-size: 16px;
	margin: 0 auto;
	max-width: 1024px;
}

header
{
	font-size: 20px;
	color: black;
	margin-top: 10px;
}

header nav
{
	background: orange;
	border-radius: 10px;
	margin-top: 20px;
	padding: .5px 0px .5px 0px;
}

header nav ul li
{

	color: white;
	display: inline-block;
	font-size: .75em;
	margin-left: 25px;
}

#art1secc1
{
	border-bottom: 1px solid gray;
}

#art2secc1
{
	border: 1px solid black;
	border-radius: 10px;
	background: #F5F5F5;
	margin-top: 15px;
	padding: 0px 0px 5px 0px;
}

#art2secc1 img
{
	margin: 5px;
}

#seccion1
{
	margin: 0 auto;
}

#seccion1 article
{
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;
	text-align: center;
}
#seccion2
{
	margin: 0 auto;
}

#seccion2 article
{
	display: inline-block;
	vertical-align: top;
}

#seccion3
{
	border: 1px solid gray;
	border-radius: 10px;
	background: #F5F5F5;
	float: right;
	margin-bottom: 100px;
	vertical-align: top;
	width: 35%;
}


#seccion3 ul li
{
	border-bottom: 1px solid gray;
	margin-bottom: 5px;
	width: 100%;
}

#art1secc2
{
	border-bottom: 1px solid gray;
	display: inline-block;
	width: 64%;
}

#art1secc2 input
{
	border-radius: 5px;
	color: white;
	margin-top: 10px;
	padding: 5px 2px 5px 2px;
}

#art1secc2 img
{
	border: 5px solid gray;
	display: inline-block;
	margin-top: 20px;
}

#art1secc2 p
{
	display: inline-block;
	width: 65%;
	padding-left: 20px;
	vertical-align: top;
}

#art2secc2
{
	border: 1px solid black;
	border-radius: 10px;
	background: #F5F5F5;
	display: block;
	margin-top: 20px;
	width: 33.475%;
	text-align: center;

}

#art2secc2 input
{
	border: 1px solid gray;
	border-radius: 20px;
	padding: 5px;

}
#art2secc2 input[type="button"]
{
		color: white;
}

#art2secc2 input[type="search"]
{
	color: black;
}

#art2secc2 form
{
	border: 1px solid gray;
	border-radius: 5px;
	color: blue;
	display: inline-block;
	margin-bottom: 10px;
	padding: 2px;
}

.gris
{
	color: gray;
	font-size: 1.5em;
}

.peques
{
	margin-top: 10px;
	float: right;
}

.naranja
{
	background: orange;
	border-radius: 10px;
	color: white;
	display: block;
	font-size: 1.2em;
	padding: 10px 0px 10px 0px;
	text-align: center;
	width: 100%;
}

.raro
{
	border-radius: 10px;
	font-size: .8em;
	background: gray;
	display: block;
	padding: 5px 0px 5px 0px;
	vertical-align: top;
	width: 100%;
}