body
{
	border: 1px solid blue;
	font-size: 16px;
	margin: 0 auto;
	max-width: 1024px;
}

header
{
	background: #B3D8EB;
}

header nav
{
	background: #0E6CB0;
	border-radius: 5px;

}

header nav ul li
{
	color: white;
	display: inline-block;
	margin-right: 20px;
	padding: 7px 0px 7px 0px;
}

#logo
{
	margin-top: -150px;
}